fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
alembic==1.14.0
PyJWT==2.10.1
ldap3==2.9.1
impacket==0.12.0
yara-python==4.5.1
pefile==2024.8.26
python-multipart==0.0.20
